body {
    background-color: lightblue;
}

nav a {
    color: red;
}

#current-link {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 50px;
}

img{
    width: 500px;
    height: auto;
}

h1 {
    border-style: double;
    border-width: 5px;
    border-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px ;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

